@charset "UTF-8";

html {
    font-size: 16px;
}
body {
    color: #101E39;
    font-family: 'Osaka','Calibri',sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: #f5f7f9;
    margin: 0 auto;
}

.profile{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px auto 50px 10px;
}
.profile-title{
    font-weight: bold;
}
p{
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
    position: relative;
    padding-bottom: 15px;
    margin-top: 65px;
}
p::after{
    content: '';
    width: 30px;
    height: 4px;
    display: inline-block;
    background-color: #257CE5;
    position: absolute;
    bottom: 8px;
    left: calc(50% - 15px)
}
h2{
    font-size: 24px;
    margin: 10px auto 25px;
}
dl{
    display :flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}
dt{
    display: grid; 
    align-items: flex-start;   
    border: solid  1px #E2E4E6;
    font-weight: bolder;
    padding-top: 15px ;
    width: 20%;
}
dd{
    display: flex;
    align-items: center;
    text-align: left;
    border: solid  1px #E2E4E6;
    background-color: #fff;
    padding: 15px 20px;
    width: 80%;
}


